{% comment %}
  Display key points of all modules for reference.
{% endcomment %}
<h2>Key Points</h2>
<table class="table table-striped">
{% for module in site.modules %}
  {% unless module.break %}
    <tr>
      <td class="col-md-3">
        <a href="{{ site.root }}{{ module.url }}">{{ module.title }}</a>
      </td>
      <td class="col-md-9">
        <ul>
        {% for keypoint in module.keypoints %}
        <li>{{ keypoint|markdownify }}</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  {% endunless %}
{% endfor %}
</table>
